/* FONT */
$unit                  : 1rem;

$sans-font             : 'Raleway', sans-serif;
$serif-font            : 'Roboto Slab', serif;
$code-font             : Consolas, "Liberation Mono", Menlo, Courier, monospace;
$quote-font            : "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;

$font-weight-thin      : 100;
$font-weight-normal    : 300;
$font-weight-bold      : 700;

$line-height           : 1.75rem;

$margin-title          : $unit * 2.2;
$margin-h1             : $margin-title * 0.9;
$margin-h2             : $margin-title * 0.9;
$margin-h3             : $margin-title * 0.9;
$margin-h4             : $margin-title * 0.9;
$margin-h5             : $margin-title * 0.9;
$margin-h6             : $margin-title * 0.9;

$font-title            : $unit * 2.2;
$font-h1               : $font-title * 0.8;
$font-h2               : $font-h1 * 0.8;
$font-h3               : $font-h2 * 0.8;
$font-h4               : $font-h3 * 0.8;
$font-h5               : $font-h4 * 0.8;
$font-h6               : $font-h5 * 0.8;
