/* ASIDE */

$aside-animation-time  : 350ms;
$aside-animation       : cubic-bezier(0.645, 0.045, 0.355, 1);
$aside-width-collapsed : $unit * 22.5;

/* OTHER */

$border-radius         : 3px;
$astronaut-size        : 20vh;
