// ------------------------------
// DIVIDER
// ------------------------------

.divider {
    margin: 10px auto;
    border-top: 1px solid $divider-color;

    &.long {
        width: 30%;
    }

    &.short {
        width: 15%;
    }

    &.post {
        margin: 1.7rem 0;
        width: 30%;
        border-top: 1px solid $gray-light;
    }
}
