.pagination {
    margin: 0 0 2.5rem;
}

.posts {

    &.index {
        color: $gray-dark;
        font-size: 0.8rem;
    }

    &.newer {
        margin-right: 1rem;
    }

    &.older {
        margin-left: 1rem;
    }
}
